﻿<div class="header row">
    <div class="heading col-md-12">
        <h1>Beregning av utnyttelsesgrad</h1>
    </div>
</div>

<p class="lead">Tjeneste for beregning av utnyttelsegrad for bruk i elektronisk byggesøknad.</p>


