﻿body {
    padding-top: 8px;
    padding-bottom: 20px;
    font-family: Altis, Helvetica, Arial, sans-serif;
    background: url(/Content/images/Dibk_background.png);
    background-repeat: repeat-x;
    background-color: #efedeb;
}

p, h1, h2, h3, h4, h5, h6, div, small, table, th, tr, td, ul, li, input, textarea {
    color: #333;
}

a, a:hover {
    color: #00757F;
}


.sitetitle {
    font-size: 18px;
}

h1 {
    font-size: 30px;
}

.container.body-content {
    background-color: #FFF;
    max-width: 960px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.headerlogo {
    background: transparent url("/Content/images/Dibk_header.png") no-repeat scroll 0% 0%;
    height: 159px;
}

    .headerlogo .pull_logo {
        left: -41px;
        position: relative;
    }

.mainmenu ul {
    margin-top: 19px;
}

    .mainmenu ul li {
        padding: 0;
        float: left;
        vertical-align: middle;
        list-style: outside none none;
        margin: 0px;
    }

        .mainmenu ul li a {
            padding: 18px 10px 3px;
            display: block;
            position: relative;
            color: #112C3B;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 14px;
            text-transform: uppercase;
        }

            .mainmenu ul li a:hover {
                color: #FFF;
                background-color: #072938;
            }

.mainmenu .navbar-toggle {
    border: 1px solid #072938;
    border-radius: 0;
}

    .mainmenu .navbar-toggle:hover {
        background-color: #072938;
        border-color: #072938;
    }

    .mainmenu .navbar-toggle .icon-bar {
        background-color: #072938;
    }

    .mainmenu .navbar-toggle:hover .icon-bar {
        background-color: #FFF;
    }

@media (min-width: 768px) {
    .mainmenu .navbar-collapse {
        position: relative;
        top: 82px;
    }
}

@media (max-width: 1030px) {
    .headerlogo .pull_logo {
        left: 0;
    }
}

@media (max-width: 767px) {

    .mainmenu .navbar-collapse.in,
    .mainmenu .navbar-collapse.collapsing {
        background-color: #072938;
    }

        .mainmenu .navbar-collapse.in a,
        .mainmenu .navbar-collapse.collapsing a {
            color: #FFF;
        }
}

.header {
    position: relative;
    background: #F2F1F0 none repeat scroll 0% 0%;
    height: 60px;
    margin-bottom: 30px;
}

    .header .heading {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

        .header .heading h1,
        .header .heading h2,
        .header .heading h3 {
            margin-bottom: 20px;
        }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

label {
    color: #7B7B79;
    display: block;
    margin: 0.6em 0px;
    font-weight: bold;
    padding: 0px;
    border: 0px none;
    vertical-align: baseline;
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
    border: 1px solid #C6C6C4;
    padding: 4px;
    width: 320px;
    margin-bottom: 0.3em;
    font-weight: normal;
    display: block;
    box-shadow: none;
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group input[type="password"] {
    display: table-cell;
    width: 100%;
    margin-bottom: 0;
}

textarea {
    z-index: 2;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #C6C6C4;
    border-radius: 0;
    box-shadow: none;
}

.margin-top {
    margin-top: 10px;
}

.panel {
    border: 5px solid #F2F1F0;
    border-radius: 0;
}

.panel-heading {
    padding: 15px;
    border: none;
    border-radius: 0;
    color: #000;
    font-weight: normal;
    line-height: 1em;
    text-transform: uppercase;
}

.panel-default > .panel-heading {
    background: #F2F1F0 none repeat scroll 0% 0%;
}

.linkbutton, a.linkbutton {
    background-color: #00757F;
    padding: 0px 20px;
    width: 400px;
    max-width: 100%;
    margin-bottom: 10px;
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #FFF;
    line-height: 42px;
    border: none;
    text-decoration: none;
}

    .linkbutton[disabled],
    a.linkbutton[disabled],
    .linkbutton[disabled]:hover,
    a.linkbutton[disabled]:hover {
        background-color: #DDD;
        color: #EFEFEF;
        cursor: not-allowed;
    }

    .linkbutton:hover, a.linkbutton:hover {
        background-color: #00676F;
    }

.input-group-btn .linkbutton {
    width: auto;
    line-height: 30px;
}

.panel .linkbutton {
    display: inline-block;
    width: auto;
    line-height: 30px;
}

.panel label {
    margin: 0;
}

.btn-group .linkbutton {
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

a.linkbutton .linkbutton a {
    color: #FFF;
}

.container-footer {
    background: none !important;
}

    .container-footer hr {
        border-width: 1px 0px;
        border-style: solid none;
        border-color: rgba(0, 0, 0, 0.1) -moz-use-text-color rgba(255, 255, 255, 0.3);
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image: none;
        height: 0px;
    }

.footertext p {
    font-family: Altis,Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-top: 20px;
    color: #000;
    margin-bottom: 1em;
}

.footertext ul {
    list-style: none;
    font-size: 12px;
    padding-left: 0;
}